html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

.upload-container {
  text-align: center !important;
}

.upload-item {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.select-item {
  margin: 20px 0px;
  width: 100%;
}

.file-item {
  padding: 20px 40px 50px 40px;
}

.type-container {
  padding: 15px 40px;
}

.card {
  padding: 20px; 
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}