<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrkizzy.data.mapper.FileTypeMapper">
    <sql id="BaseColumn">
        id, `name`, mark, sort, description, create_time, update_time
    </sql>

    <!-- 通用返回数据 -->
    <resultMap id="BaseResultMap" type="com.zrkizzy.data.domain.FileType">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="mark" property="mark" />
        <result column="sort" property="sort" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <collection property="fileList" ofType="com.zrkizzy.data.domain.File">
            <id column="file_id" property="id" />
            <result column="file_name" property="name" />
            <result column="src" property="src" />
            <result column="path" property="path" />
            <result column="size" property="size" />
            <result column="type" property="type" />
            <result column="md5" property="md5" />
            <result column="nickname" property="nickname" />
            <result column="user_id" property="userId" />
            <result column="mode" property="mode" />
            <result column="file_create_time" property="createTime" />
            <result column="file_update_time" property="updateTime" />
        </collection>
    </resultMap>

    <!-- 查询文件分类树以及对应数据 -->
    <select id="listFiles" resultMap="BaseResultMap">
        SELECT
            ft.id AS id,
            ft.name AS name,
            ft.mark AS mark,
            ft.sort AS sort,
            ft.description AS description,
            ft.create_time AS create_time,
            ft.update_time AS update_time,
            f.id AS file_id,
            f.name AS file_name,
            f.src AS src,
            f.path AS path,
            f.size AS `size`,
            f.type AS type,
            f.md5 AS md5,
            f.user_id AS user_id,
            u.nickname AS nickname,
            f.mode AS mode,
            f.create_time AS file_create_time,
            f.update_time AS file_update_time
        FROM
            tb_file_type ft
            LEFT JOIN tb_file f ON ft.id = f.file_type_id
            LEFT JOIN tb_user u ON f.user_id = u.id
        ORDER BY ft.sort ASC
    </select>

    <!-- 根据文件类型ID获取对应的分类路径 -->
    <select id="getPathByFileTypeId" resultType="java.lang.String">
        SELECT mark
        FROM tb_file_type
        WHERE id = #{fileTypeId}
    </select>

    <!-- 获取大于指定排序值条数 -->
    <select id="countByGreaterSort" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM tb_file_type WHERE sort >= #{sort}
    </select>

    <!-- 将大于指定排序值的元素的排序值进行向后移动操作 -->
    <update id="updateBySort">
        UPDATE tb_file_type SET sort = sort + 1 WHERE sort >= #{sort}
    </update>

    <!-- 获取原本文件分类对象的文件标识 -->
    <select id="selectMarkById" resultType="java.lang.String">
        SELECT mark FROM tb_file_type WHERE id = #{id}
    </select>

</mapper>