<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrkizzy.data.mapper.MenuMapper">
    <sql id="BaseColumn">
        id, `name`, parent_id, `path`, component, is_cache, is_link, visible, icon, `order`, create_time, update_time
    </sql>

    <resultMap id="BaseResultMap" type="com.zrkizzy.data.domain.core.Menu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="is_cache" property="isCache" />
        <result column="is_link" property="isLink" />
        <result column="visible" property="visible" />
        <result column="icon" property="icon" />
        <result column="order" property="order" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 根据角色名称获取对应菜单 -->
    <select id="getRoutes" resultMap="BaseResultMap">
        SELECT
            m.id AS id,
            m.`name` AS name,
            m.parent_id AS parent_id,
            m.`path` AS path,
            m.component AS component,
            m.is_cache AS is_cache,
            m.is_link AS is_link,
            m.visible AS visible,
            m.icon AS icon,
            m.`order` AS `order`,
            m.create_time AS create_time,
            m.update_time AS update_time
        FROM
            tb_menu m
                LEFT JOIN tb_role r ON r.`name` = #{roleName}
                LEFT JOIN tb_menu_role mr ON mr.role_id = r.id
        WHERE
            mr.menu_id = m.id
    </select>

    <!-- 获取所有菜单 -->
    <select id="getAllRoutes" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseColumn"></include>
        FROM tb_menu
    </select>
</mapper>