<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrkizzy.data.mapper.MenuMapper">
    <sql id="BaseColumn">
        id, `name`, parent_id, `type`, `path`, component, is_cache, is_link, visible, status, icon, `order`, create_time, update_time
    </sql>

    <resultMap id="BaseResultMap" type="com.zrkizzy.data.domain.system.Menu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="path" property="path" />
        <result column="type" property="type" />
        <result column="component" property="component" />
        <result column="is_cache" property="isCache" />
        <result column="is_link" property="isLink" />
        <result column="visible" property="visible" />
        <result column="status" property="status" />
        <result column="icon" property="icon" />
        <result column="order" property="order" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 根据角色名称获取对应菜单 -->
    <select id="getRoutes" resultMap="BaseResultMap">
        SELECT
            m.id AS id,
            m.`name` AS name,
            m.parent_id AS parent_id,
            m.`path` AS path,
            m.component AS component,
            m.is_cache AS is_cache,
            m.is_link AS is_link,
            m.visible AS visible,
            m.icon AS icon,
            m.`order` AS `order`,
            m.create_time AS create_time,
            m.update_time AS update_time
        FROM
            tb_menu m
                LEFT JOIN tb_role r ON r.mark = #{roleMark}
                LEFT JOIN tb_menu_role mr ON mr.role_id = r.id AND m.id = mr.menu_id
        WHERE
            mr.menu_id = m.id AND
            m.status = 1
    </select>

    <!-- 获取所有菜单 -->
    <select id="getAllRoutes" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseColumn"></include>
        FROM
            tb_menu
        WHERE
            status = 1
    </select>
    
    <!-- 查询符合条件的所有菜单数据 -->
    <select id="listAllMenus" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseColumn"></include>
        FROM tb_menu m
        <where>
            <if test="null != menuQuery.name and '' != menuQuery.name">
                AND `name` LIKE CONCAT('%', #{menuQuery.name}, '%')
            </if>
            <if test="null != menuQuery.status">
                AND status = #{menuQuery.status}
            </if>
            <if test="null != menuQuery.dataRange and 2 == menuQuery.dataRange.size">
                AND create_time BETWEEN #{menuQuery.dataRange[0]} AND #{menuQuery.dataRange[1]}
            </if>
        </where>
    </select>

    <!-- 查询指定角色符合条件的所有菜单数据 -->
    <select id="listMenus" resultMap="BaseResultMap">
        SELECT
            m.id AS id,
            m.`name` AS name,
            m.parent_id AS parent_id,
            m.`path` AS path,
            m.type AS type,
            m.component AS component,
            m.is_cache AS is_cache,
            m.is_link AS is_link,
            m.status AS status,
            m.visible AS visible,
            m.icon AS icon,
            m.`order` AS `order`,
            m.create_time AS create_time,
            m.update_time AS update_time
        FROM
            tb_menu m
                INNER JOIN tb_role r ON r.mark = #{roleMark}
                INNER JOIN tb_menu_role mr ON mr.role_id = r.id AND m.id = mr.menu_id
        <where>
            <if test="null != menuQuery.name and '' != menuQuery.name">
                AND m.`name` LIKE CONCAT('%', #{menuQuery.name}, '%')
            </if>
            <if test="null != menuQuery.status">
                AND m.status = #{menuQuery.status}
            </if>
            <if test="null != menuQuery.dataRange and 2 == menuQuery.dataRange.size">
                AND m.create_time BETWEEN #{menuQuery.dataRange[0]} AND #{menuQuery.dataRange[1]}
            </if>
        </where>
    </select>

    <!-- 菜单选项 -->
    <resultMap id="menuOptions" type="com.zrkizzy.common.base.response.OptionsVO">
        <id column="id" property="value" />
        <result column="name" property="label" />
    </resultMap>

    <!-- 查询所有菜单选项 -->
    <select id="listAllMenuOptions" resultMap="menuOptions">
        SELECT id, name FROM tb_menu WHERE parent_id = 0
    </select>

    <!-- 查询指定角色具有的所有菜单选项 -->
    <select id="listMenuOptions" resultMap="menuOptions">
        SELECT
            m.id AS id,
            m.name AS name
        FROM
            tb_menu m
                LEFT JOIN tb_menu_role mr ON mr.menu_id = m.id
        WHERE
            m.parent_id = 0 AND
            mr.role_id = #{roleId}
    </select>

    <!-- 根据菜单ID查询菜单对象 -->
    <select id="getMenuById" resultType="com.zrkizzy.data.domain.system.Menu">
        SELECT
            <include refid="BaseColumn"></include>
        FROM
            tb_menu
        WHERE
            id = #{menuId}
    </select>
</mapper>