<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrkizzy.data.mapper.ModuleRoleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, module_id, role_id, create_time
    </sql>

    <!-- 删除指定角色具有的所有请求权限 -->
    <delete id="deleteByRoleId">
        DELETE FROM tb_module_role WHERE role_id = #{roleId}
    </delete>

    <!-- 获取指定角色具有的模块权限 -->
    <select id="listModuleIdByRoleId" resultType="java.lang.Long">
        SELECT
            module_id
        FROM
            tb_module_role
        WHERE
            role_id = #{roleId}
    </select>

    <!-- 统计模块ID集合对应的数据总数 -->
    <select id="countByModuleIds" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            tb_module_role
        <where>
            module_id IN
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>

    </select>

    <!-- 添加模块角色关联信息 -->
    <insert id="insertBatch">
        INSERT INTO
        tb_module_role(<include refid="Base_Column_List"></include>)
        VALUES
        <foreach collection ="moduleRoleList" item="moduleRole" separator =",">
            (#{moduleRole.id}, #{moduleRole.moduleId}, #{moduleRole.roleId}, #{moduleRole.createTime})
        </foreach>
    </insert>

</mapper>