<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrkizzy.data.mapper.ModuleRoleMapper">

    <!-- 删除指定角色具有的所有请求权限 -->
    <delete id="deleteByRoleId"></delete>

    <!-- 获取指定角色具有的模块权限 -->
    <select id="listModuleIdByRoleId" resultType="java.lang.Long">
        SELECT
            module_id
        FROM
            tb_module_role
        WHERE
            role_id = #{roleId}

    </select>
</mapper>