<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrkizzy.data.mapper.OperateLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zrkizzy.data.domain.OperateLog">
        <id column="id" property="id" />
        <result column="module_id" property="moduleId" />
        <result column="type" property="type" />
        <result column="method_name" property="methodName" />
        <result column="request_method" property="requestMethod" />
        <result column="user_id" property="userId" />
        <result column="operate_ip" property="operateIp" />
        <result column="operate_location" property="operateLocation" />
        <result column="operate_param" property="operateParam" />
        <result column="operate_result" property="operateResult" />
        <result column="status" property="status" />
        <result column="cost_time" property="costTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, module_id, `type`, method_name, request_method, user_id, operate_ip, operate_location, operate_param, operate_result, status, cost_time, create_time, update_time
    </sql>

    <resultMap id="operateLogVo" type="com.zrkizzy.data.vo.OperateLogVO">
        <id column="id" property="id" />
        <result column="module_name" property="moduleName" />
        <result column="type" property="type" />
        <result column="method_name" property="methodName" />
        <result column="request_method" property="requestMethod" />
        <result column="nickname" property="nickname" />
        <result column="operate_ip" property="operateIp" />
        <result column="operate_location" property="operateLocation" />
        <result column="operate_param" property="operateParam" />
        <result column="operate_result" property="operateResult" />
        <result column="status" property="status" />
        <result column="cost_time" property="costTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 分页查询操作日志对象 -->
    <select id="listOperateLog" resultMap="operateLogVo">
        SELECT
            o.id AS id,
            m.name AS module_name,
            o.`type` AS `type`,
            o.method_name AS method_name,
            o.request_method AS request_method,
            u.nickname AS nickname,
            o.operate_ip AS operate_ip,
            o.operate_location AS operate_location,
            o.operate_param AS operate_param,
            o.operate_result AS operate_result,
            o.status AS status,
            o.cost_time AS cost_time,
            o.create_time AS create_time
        FROM
            tb_operate_log o,
            tb_module m,
            tb_user u
        WHERE
            o.module_id = m.id AND
            o.user_id = u.id

            <if test="null != operateLogQuery.moduleId">
                AND m.module_id = #{operateLogQuery.moduleId}
            </if>
            <if test="null != operateLogQuery.userId">
                AND m.user_id = #{operateLogQuery.userId}
            </if>
            <if test="null != operateLogQuery.type">
                AND m.type = #{operateLogQuery.type}
            </if>
            <if test="null != operateLogQuery.type and '' != operateLogQuery.requestMethod">
                AND m.request_method = #{operateLogQuery.requestMethod}
            </if>
            <if test="null != operateLogQuery.status">
                AND m.status = #{operateLogQuery.status}
            </if>
            <if test="null != operateLogQuery.dataRange and 2 == operateLogQuery.dataRange.size">
                AND m.create_time BETWEEN #{operateLogQuery.dataRange[0]} AND #{operateLogQuery.dataRange[1]}
            </if>
    </select>
</mapper>
