<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrkizzy.data.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zrkizzy.data.domain.Resource">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="method" property="method" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 资源角色映射集合 -->
    <resultMap id="ResourceRoles" type="com.zrkizzy.data.dto.resource.ResourceRoleDTO">
        <result column="url" property="url" />
        <result column="method" property="method" />
        <result column="module_id" property="moduleId" />
        <result column="description" property="description" />
        <collection property="roles" ofType="java.lang.String">
            <result column="role_mark" />
        </collection>
    </resultMap>

    <!-- 加载资源角色数据 -->
    <select id="loadResourceRoleData" resultMap="ResourceRoles">
        SELECT
            res.method AS method,
            res.url AS url,
            res.description AS description,
            mr.module_id AS module_id,
            r.mark AS role_mark
        FROM
            tb_resource res
                LEFT JOIN tb_module_resource mres ON res.id = mres.resource_id
                LEFT JOIN tb_module_role mr ON mres.module_id = mr.module_id
                LEFT JOIN tb_role r ON mr.role_id = r.id
    </select>

</mapper>