.el-message--error{
  background-color:#fff;
  border-color: #fff;
  box-shadow: 0px 4px 12px #00000026;
}

.el-message,.el-message--error .el-message__content{
  color:#909399;
}

.el-message--success{
  background-color:#fff;
  border-color: #fff;
  box-shadow: 0px 4px 12px #00000026;
}

.el-message,.el-message--success .el-message__content{
  color:#909399;
}

.el-message--info{
  background-color:#fff;
  border-color: #fff;
  box-shadow: 0px 4px 12px #00000026;
}

.el-message,.el-message--info .el-message__content{
  color:#909399;
}

.el-message--warning{
  background-color:#fff;
  border-color: #fff;
  box-shadow: 0px 4px 12px #00000026;
}

.el-message,.el-message--warning .el-message__content{
  color:#909399;
}

.el-dialog__body {
  padding: 0;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}

.el-upload-list {
  width: 100%;

  &>.el-upload-list__item {
    text-align: left;
  }
}
