.el-message--error{
  background-color:#fff;
  border-color: #fff;
  box-shadow: 0px 4px 12px #00000026;
}

.el-message,.el-message--error .el-message__content{
  color:#909399;
}

.el-message--success{
  background-color:#fff;
  border-color: #fff;
  box-shadow: 0px 4px 12px #00000026;
}

.el-message,.el-message--success .el-message__content{
  color:#909399;
}

.el-message--info{
  background-color:#fff;
  border-color: #fff;
  box-shadow: 0px 4px 12px #00000026;
}

.el-message,.el-message--info .el-message__content{
  color:#909399;
}

.el-message--warning{
  background-color:#fff;
  border-color: #fff;
  box-shadow: 0px 4px 12px #00000026;
}

.el-message,.el-message--warning .el-message__content{
  color:#909399;
}

.el-dialog__body {
  padding: 0;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}

.el-upload-list {
  width: 100%;

  &>.el-upload-list__item {
    text-align: left;
  }
}

.el-form--label-top .el-form-item__label {
  float: none;
  display: inline-block;
  text-align: left;
  padding: 0;
}

/** 表格布局 **/
.pagination-container {
	position: relative;
	height: 25px;
	margin-bottom: 10px;
	margin-top: 15px;
	padding: 10px 20px !important;
}

.pagination-container .el-pagination {
	text-align: center;
}

@media ( max-width : 768px) {
  .pagination-container .el-pagination > .el-pagination__jump {
    display: none !important;
  }
  .pagination-container .el-pagination > .el-pagination__sizes {
    display: none !important;
  }
}

.el-table {
	.el-table__header-wrapper, .el-table__fixed-header-wrapper {
		th {
			word-break: break-word;
			background-color: #f8f8f9;
			color: #515a6e;
			height: 40px;
			font-size: 13px;
		}
	}
	.el-table__body-wrapper {
		.el-button [class*="el-icon-"] + span {
			margin-left: 3px;
		}
	}
}

.space-container {
  .el-scrollbar__wrap {
    overflow-x: hidden !important;
  }
}