#app {
  .main-container {
    margin-left: 200px;
    min-height: 100%;
  }
  
  .sidebar-container {
    width: 200px;
    height: 100%;
    background: $base-menu-background;
    position: fixed;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
  
    .el-menu {
      border: none;
    }
    .svg-icon {
      margin-right: 15px;
    }
  }
}
